@import "compass";

.ember-animated-container {
    position: absolute;
    height: 100%;
    width: 100%;
    
    & > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@import "effects/fade";
@import "effects/flip";
@import "effects/slide";