@import "compass";

.ember-animated-container {
    position: absolute;
    height: 100%;
    width: 100%;
    @include transform(translate3d(0, 0, 0));

    & > .ember-view {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include backface-visibility(hidden);
    }
}

@import "effects/fade";
@import "effects/flip";
@import "effects/slide";
@import "effects/slideOver";
